# Compiled output
node_modules/
dist/
.tmp/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IntelliJ
.idea
*.iml

# Deployment
*.env
.azure

# DB Storage
.qdrant/

# Misc
.DS_Store
.current
